<h2 class="block-title">Información</h2>
<div class="space-y-4">
    <div class="flex justify-between">
        <div class="text-gray-400">Locación</div>
        <div class="font-medium text-right text-gray-600">Lima - Perú</div>
    </div>
    <div class="flex justify-between">
        <div class="text-gray-400">Aptitudes</div>
        <div class="font-medium text-right text-gray-600">Trabajo en Equipo, 
            Resolución de problemas, 
            Liderazgo</div>
    </div>
    <div class="flex justify-between">
        <div class="text-gray-400">Disponibilidad</div>
        <div class="font-medium text-right text-gray-600">Incorporación Inmediata</div>
    </div>
    <div class="flex justify-between">
        <div class="text-gray-400">Reubicación</div>
        <div class="font-medium text-right text-gray-600">No</div>
    </div>
</div>