<h2 class="block-title">Información</h2>
<div class="space-y-4">
    <div class="flex justify-between">
        <div class="text-gray-400">Locación</div>
        <div class="font-medium text-right text-gray-600">Lima - Perú</div>
    </div>
    <div class="flex justify-between">
        <div class="text-gray-400">Experiencia</div>
        <div class="font-medium text-right text-gray-600">En Desarrollo Web Front End</div>
    </div>
    <div class="flex justify-between">
        <div class="text-gray-400">Disponibilidad</div>
        <div class="font-medium text-right text-gray-600">Incorporación Inmediata</div>
    </div>
    <div class="flex justify-between">
        <div class="text-gray-400">Reubicación</div>
        <div class="font-medium text-right text-gray-600">No</div>
    </div>
</div>