
    <h2 class="block-title">Acerca de</h2>
    <p class="text-gray-600 mb-5">Soy una persona autodidacta, curiosa y me gusta resolver problemas. Aprender hace parte de mi día a día y los desafíos me motivan a encontrar las mejores soluciones.

        Busco oportunidades para hacer prácticas en el área de Tecnología de la información, donde pueda desarrollar mis conocimientos técnicos y crecer junto a la empresa y a mis compañeros de trabajo.
        
        Busco siempre trabajar en equipo, cooperando con todos y apoyando de la mejor manera posible, con gran satisfacción en enseñar y aprender.</p>
    
    <div class="flex flex-col space-y-4">
        <a href="#0" class="mail-link social-link-hover">
            <i class="bx bx-at text-xl"></i>
            <span>emersonsuarez2904@gmail.com</span>
        </a>

        <ul class="flex space-x-5">
            <li>
                <a href="#0" class="social-link-hover">
                    <i class="bx bxl-facebook-circle text-2xl"></i>
                </a>
            </li>
            <li>
                <a href="#0" class="social-link-hover">
                    <i class="bx bxl-twitter text-2xl"></i>
                </a>
            </li>
            <li>
                <a href="#0" class="social-link-hover">
                    <i class="bx bxl-github text-2xl"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="border-t border-gray-200 my-5"></div>
    
    <ul class="flex space-x-8 font-medium">
        <li>
            <a href="#" class="menu-link-active menu-link-hover">Resumen</a>
        </li>
        <li>
            <a href="#" class="menu-link menu-link-hover">Proyectos</a>
        </li>
        <li>
            <a href="#" class="menu-link menu-link-hover">Contacto</a>
        </li>
    </ul>