<!--Contenedor-->
<main class="main-container mx-auto p-6">
    <div class="bg-gray-100">
        <div class="grid gap-5 lg:grid-cols-3 mx-6">
            <div class="space-y-5 my-6"><!-- Start Left Side -->
                <!-- Card Sobre Mí -->
                <div class="shadow rounded-xl overflow-hidden"><!-- Start User Block -->
                    <div class="h-32 bg-cover" style="background-image: url('https://cdn.shopify.com/s/files/1/0066/4574/3686/files/New_York_Skyline_LinkedIn_Background_Photo.png?v=1627912075');"></div>
                    <div class="flex flex-col items-center pb-10 pt-2">
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://live.staticflickr.com/8138/29793969203_6462ee94b3_b.jpg" alt="Emerson Suarez"/>
                        <div class="text-lg font-semibold mb-1.5">Emerson Suarez</div>
                        <div class="text-sm text-gray-400 mb-7">Junior Front End Web Developer</div>
                        <div class="flex group">
                            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Descargar CV</a>
                        </div>
                    </div>
                </div>
                <!--End Sobre Mí-->

                <!--Información-->
                <div class="p-8 block-section">
                    <app-information></app-information>
                </div>
                <!-- End Información -->

                <!--  Skills -->
                <div class="p-8 block-section flow-root">
                    <app-skills></app-skills>
                </div>
                <!-- End Skills -->
            </div>
            <div class="space-y-5 lg:col-span-2 my-6">
                <!-- Acerca de Mi -->
                <div class="p-7 pb-0 block-section">
                    <app-about></app-about>
                </div>
                <!-- End Acerca de Mi -->
            </div>
        </div>
    </div>
</main>

