<!--Contenedor-->
<main class="main-container mx-auto p-6">
    <div class="bg-gray-100">
        <div class="grid gap-5 lg:grid-cols-3 mx-6">
            <div class="space-y-5 my-6">
                <!-- Start Left Side -->
                <!-- Card Sobre Mí -->
                <div class="shadow rounded-xl overflow-hidden">
                    <!-- Start User Block -->
                    <div class="h-32 bg-cover"
                        style="background-image: url('https://cdn.shopify.com/s/files/1/0066/4574/3686/files/New_York_Skyline_LinkedIn_Background_Photo.png?v=1627912075');">
                    </div>
                    <div class="flex flex-col items-center pb-10 pt-2">
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                            src="https://live.staticflickr.com/8138/29793969203_6462ee94b3_b.jpg"
                            alt="Emerson Suarez" />
                        <div class="text-lg font-semibold mb-1.5">Emerson Suarez</div>
                        <div class="text-sm text-gray-400 mb-7">Junior Front End Web Developer</div>
                        <div class="flex group">
                            <a href="#"
                                class=" text-white inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Descargar
                                CV</a>
                        </div>
                    </div>
                </div>
                <!--End Sobre Mí-->

                <!--Información-->
                <div class="p-8 block-section">
                    <app-information></app-information>
                </div>
                <!-- End Información -->

                <!--  Skills -->
                <div class="p-8 block-section flow-root">
                    <app-skills></app-skills>
                </div>
                <!-- End Skills -->
            </div>
            <div class="space-y-5 lg:col-span-2 my-6">
                <!-- Acerca de Mi -->
                <div class="p-7 pb-0 block-section">
                    <h2 class="block-title">Acerca de</h2>
                    <p class="text-gray-600 mb-5">Soy una persona autodidacta, curiosa y me gusta resolver problemas.
                        Aprender hace parte de mi día a día y los desafíos me motivan a encontrar las mejores
                        soluciones.

                        Busco oportunidades para hacer prácticas en el área de Tecnología de la información, donde pueda
                        desarrollar mis conocimientos técnicos y crecer junto a la empresa y a mis compañeros de
                        trabajo.

                        Busco siempre trabajar en equipo, cooperando con todos y apoyando de la mejor manera posible,
                        con gran satisfacción en enseñar y aprender.</p>

                    <div class="flex flex-col space-y-4">
                        <a href="#" class="mail-link social-link-hover"><i class="bi bi-envelope"></i><span class="mx-2">emersonsuarez2904@gmail.com</span></a>

                        <ul class="flex space-x-5">
                            <li>
                                <a href="#" class="social-link-hover">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-link-hover">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-link-hover">
                                    <i class="bi bi-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="border-t border-gray-200 my-5"></div>

                    <ul class="flex space-x-8 font-medium">
                        <li>
                            <a routerLink="/resumen" class="menu-link menu-link-hover">Resumen</a>
                        </li>
                        <li>
                            <a routerLink="/proyectos" class="menu-link menu-link-hover">Proyectos</a>
                        </li>
                        <li>
                            <a routerLink="/contacto" class="menu-link menu-link-hover">Contacto</a>
                        </li>
                    </ul>
                </div>
                <!-- End Acerca de Mi -->
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</main>